<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>Responsive Table</title>

  <!--responsive table-->
  <link href="css/table-responsive.css" rel="stylesheet" />

    <div th:include="common :: commonheader"> </div>
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div th:replace="common :: #leftmenu"></div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div th:replace="common :: headermunu"></div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                Responsive Table
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Data Table</a>
                </li>
                <li class="active"> Responsive Table </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
        <div class="row">
        <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Update table
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
            </header>
            <div class="panel-body">
                <section id="unseen">
                    <form th:action="@{/admin/update}" method="post">
                        <input type="hidden" name="id" th:value="${admin.id}">
                        <div class="form-group">
                            <label>name</label>
                            <input th:value="${admin.name}" type="text" name="name" class="form-control" placeholder="ass">
                        </div>
                        <div class="form-group">
                            <label>age</label>
                            <input th:value="${admin.age}" type="text" name="age" class="form-control" placeholder="18">
                        </div>
                        <div class="form-group">
                            <label>email</label>
                            <input th:value="${admin.email}" type="text" name="email" class="form-control" placeholder="aefaefae">
                        </div>
                        <button type="submit" class="btn btn-primary">更新</button>
                    </form>
                </section>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Flip Scroll
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                 </span>
            </header>
            <div class="panel-body">
                <section id="flip-scroll">

                </section>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                No More Tables
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                 </span>
            </header>
            <div class="panel-body">
                <section id="no-more-tables">

                </section>
            </div>
        </section>
        </div>
        </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2014 &copy; AdminEx by ThemeBucket
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<div th:replace="common :: #commonscript"></div>

</body>
</html>
